body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

    background-color: #FFF4F4;
    color: #606C5D;

    /* min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

    padding-bottom: 30px;
   
}

/* ---------------------------------------HEADER------------------------------------------- */

.header {
    background-color: #606C5D;
    padding: 16px 0 ;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #FFF4F4;
    padding-bottom: 14px;
    transition: color 500ms, border 500ms;
}

.nav-link:hover {
    color: #F1C376;
    border-bottom: 2px solid #F1C376;
}

/* ---------------------------------PROFILE---------------------------------------------------- */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-img {
    width: 300px; 
    padding-bottom: 30px;
}

.profile-title {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.8;

    padding-bottom: 16px;
}

/* -------------------------------------ABOUT------------------------------------------------ */

.about {
    margin: 150px 0;
    padding-left: 20px;
}

.about-text {
    padding-right: 30px;
    
}

/* -------------------------------------SKILLS------------------------------------------------ */

.skills {
    margin-top: 30px;
    margin-bottom: 50px;
}

.skills-title {
    padding-left: 80px;
    padding-bottom: 15px;
}

.skills-blocks {
    display: flex;
   justify-content: space-around;
}

.skills-list {
    list-style: none;
}

.skills-item::before {
    content: "\2022";
    color: #ffb638;
    display: inline-block;
    font-weight: 900;
    width: 1em;
    margin-left: -1em;
    }
