body {
    font-family: "Roboto", sans-serif;

    background-color: #FFF4F4;
    color: #606C5D;

    /* min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

/* ---------------------------------------HEADER------------------------------------------- */

.header {
    background-color: #606C5D;
    padding: 16px 0 ;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #FFF4F4;
    padding-bottom: 14px;
    transition: color 500ms, border 500ms;
}

.nav-link:hover {
    color: #F1C376;
    border-bottom: 2px solid #F1C376;
}

/* ---------------------------------PROFILE---------------------------------------------------- */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-img {
    width: 300px; 
    padding-bottom: 30px;
}

.profile-title {
    padding-bottom: 16px;
}